PORT=8081
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/educare?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_MAX_POOL_SIZE=10
APP_JWT_SECRET=replace-with-a-long-random-string
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
APP_ADMIN_EMAIL=admin@educare.vn
APP_ADMIN_PASSWORD=Admin@123
APP_ADMIN_FULL_NAME=EDUcare Admin
APP_ADMIN_USERNAME=educare_admin

# Gmail SMTP configuration for sending OTP email
SPRING_PROFILES_ACTIVE=smtp
SPRING_MAIL_USERNAME=vih13579@gmail.com
SPRING_MAIL_PASSWORD=pbhwyhwfmofuqjid
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
